#%RAML 1.0
title: Mello
baseUri: https://api.m3llo.com
protocols:
  - HTTPS
version: 0.0.1
description: Documentation dedicated for Mello's API.

/:
  get:
    responses:
      '200':
        body:
          application/json:
            type: string

/profile:
  get:
    responses:
      '200':
        body:
          application/json:
            type: array
  post:
    responses:
      '200':
        body:
          application/json:
            type: object
    body:
      application/json:
        type: object
        properties:
          username:
            type: string
            required: true
            description: Unique username of specific user at our platform.
            example: keinsell
          firstName:
            type: string
            required: true
            description: Stands for user's first name.
            example: Jakub
          lastName:
            type: string
            required: true
            description: Stands for user's last name.
            example: Olan
          email:
            type: string
            required: true
            description: Stands for user's email address.
            example: jakub.jay.olan@gmail.com
          gender:
            type: array
            required: true
            description: Stands for user's gender as an enum for "MALE", "FEMALE" and "OTHER"
            example: MALE
          height:
            type: integer
            required: false
            description: Stands for user's height in centimeters.
            example: 179
          weight:
            type: integer
            required: false
            description: Stands for user's weight in kilograms.
            example: 65
          birthdate:
            type: date-only
            required: true
            description: Stands for user's birthdate for age calculation.
          hairColor: string
          eyeColor: string
          biography: string
          lastLogin: datetime
          location: string
          mbit: string
          hobbys: array
